<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
<h1>Profile</h1>
<p>Username:<%=result.uid%></p>
<p>Full Name:<%=result.uname%></p>
<p>Email:<%=result.email%></p>
<p>City:<%=result.city%></p>
<button><a href = "/profile/<%=result.uid%>/change">Change</a></button>

</body>

</html>